
/*html, body {*/
/*  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);*/
/*}*/


.header-color{
  background: #833ab4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}
.landing-grid{
  background: #833ab4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}




/* Contact Page */
.contact-body {
  margin: auto;
  position: sticky;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: black;
  margin-bottom: 20px;
}

.contact-grid h4 {
  font-family: 'Anton' sans-serif;
}

.contact-grid p {
  font-family: 'Oxygen' sans-serif;
  font-weight: bold;
}

.contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

.contact-list i {
  font-size: 66px;
  padding-right: 5rem;
}

.button-git a {
  text-decoration: none;
  color: white;
}

/* Contact Page */


/* Resume Page css */
.resume-right-col {
  background: #27221F;
  color: white;
  padding: 2em;
}


/* About ME page */

.about-body {
  background-color: #252542;
  height: 100%;
}

@media(max-width: 600px){
  .about-body {
    height: inherit;
  }
  .mdl-layout-title{
    margin-left: -58px;
  }
}

.about-body p {
  color: white;
  font-size: 28px;
  line-height: 40px;
}

.about-body h3 {
  color: white;
}

.about-text{
    text-align: justify;
    font-size: 18px;
}

/* About ME page */

.avatar-img {
  height: 230px;
  padding-top: 0em;
  border-radius: 40%;
}

.banner-text {
  background-color: black;
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {
  font-size: 66px;
  font-weight: bold;
  color: white;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p{
  color: white;
  font-size: 20px;
  padding: 1em;
}

.social-links{
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links i {
  color: white;
  font-size: 5em;
  padding: 8px;
}

.projects-grid {
  display: flex;
}

.projects-dec{
  text-decoration: none;
}

.landing-page{
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
}


@media(max-width: 600px){
  .mdl-navigation{
    display: none !important;
  }
  .mbl-navigation{
    display: block !important;
    background-color: steelblue;
    height: auto !important;
    position: relative;
    top: 240%;
    text-align: center;
  }
}

.hamburger {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #283b8b;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  top: 5%;
  right: 25px;
  transform: translateY(-50%);
  /* display: none; */
}

@media(max-width: 600px){
  .hamburger{
    margin-right: -12px;
  }
}

.hamburger:hover {
  background-color: #2642af;
}

@media(min-width: 768px){
  .hamburger{
    display: none;
  }
}

/* @media(min-width: 768px){
  svg{
    display: none;
  }
}


@media(max-width: 768px){
  svg{
    display: block;
    border: 0;
    height: 40px;
    width: 40px;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: #283b8b;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    position: absolute;
    top: 10%;
    right: 25px;
    transform: translateY(-50%);
  }
} */

