
/*html, body {*/
/*  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);*/
/*}*/

@font-face{
  font-family: "Helvetica";
  src: url('./fonts/Helvetica.ttf');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica", sans-serif;
}
.header-color{
  background: #833ab4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.landing-grid{
  background: #833ab4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}




/* Contact Page */
.contact-body {
  margin: auto;
  position: sticky;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 550px;
  background: white;
  color: black;
  margin-bottom: 20px;
}

.contact-grid h4 {
  font-family: 'Anton' sans-serif;
}

.contact-grid p {
  font-family: 'Oxygen' sans-serif;
  font-weight: bold;
}

.contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

.contact-list i {
  font-size: 66px;
  padding-right: 5rem;
}

.button-git a {
  text-decoration: none;
  color: white;
}
.contact-info{
  width: '75%';
  margin: 'auto';
  padding-top: '1em';
  text-align: 'justify';
}
.mdl-list__item-primary-content span{
    display: flex;
    align-items: center;
    text-align: initial;
}
/* Contact Page */


/* Resume Page css */
.resume-right-col {
  background: #27221F;
  color: white;
  padding: 2em;
}


/* About ME page */

.about-body {
  background-color: #252542;
  height: 100%;
}

@media(max-width: 600px){
  /* .about-body {
    height: inherit;
  } */
  .mdl-layout-title{
    margin-left: -58px;
  }
}

.about-body p {
  color: white;
  font-size: 28px;
  line-height: 40px;
}
@media(max-width: 600px){
  .about-body p {
    font-size: 18px;
  }
}
.about-body h3 {
  color: white;
}
@media(max-width: 600px){
  .about-body h3 {
    font-size: 22px;
  }
}
.about-text{
    text-align: justify;
    font-size: 18px;
}

/* About ME page */

.avatar-img {
  height: 230px;
  padding-top: 0em;
  border-radius: 40%;
}

.banner-text {
  background-color: black;
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}
@media(max-width: 600px){
  .banner-text {
    width: 100%;
  }
}
.banner-text h1 {
  font-size: 66px;
  font-weight: bold;
  color: white;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p{
  color: white;
  font-size: 20px;
  padding: 1em;
}

.social-links{
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links i {
  color: white;
  font-size: 5em;
  padding: 8px;
}




.frontend-tech{
  margin: 0 !important;
}
.projects-grid {
  display: flex;
  justify-content: space-evenly;
  /* align-items: center; */
}

.mdl-card__title{
  background-color: #282C34 !important;
  color: #ffffff !important;
  /* height: 0 !important; */
}
.material-icons{
  color: #ffffff;
}
@media(max-width: 767px){
  .projects-grid {
    flex-direction: column;
  }
  .mdl-card{
    margin-bottom: 20px !important;
  }
  .card-content{
    width: 350px;
    height: 350px;
    margin: auto;
  }
}
.projects-dec{
  text-decoration: none;
}

.landing-page{
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  height: 100vh;
}


@media(max-width: 600px){
  .mdl-navigation{
    display: none !important;
  }
  .mbl-navigation{
    display: block !important;
    background-color: steelblue;
    height: auto !important;
    position: relative;
    top: 240%;
    text-align: center;
  }
}
@media(max-width: 600px){
  .mdl-grid{
    padding: 0 !important;
    height: auto;
  }
  .mdl-list__item{
    padding: 0 !important;
  }
  .contact-list i{
    font-size: 35px;
    padding-right: 15px;
  }
  .mdl-list__item-primary-content > span{
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.hamburger {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #283b8b;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  top: 5%;
  right: 25px;
  transform: translateY(-50%);
  /* display: none; */
}

@media(max-width: 600px){
  .hamburger{
    margin-right: -12px;
    margin-top: 1px !important;
  }
}

.hamburger:hover {
  background-color: #2642af;
}

@media(min-width: 768px){
  .hamburger{
    display: none;
  }
}

/* @media(min-width: 768px){
  svg{
    display: none;
  }
}


@media(max-width: 768px){
  svg{
    display: block;
    border: 0;
    height: 40px;
    width: 40px;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: #283b8b;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    position: absolute;
    top: 10%;
    right: 25px;
    transform: translateY(-50%);
  }
} */

.projects-grid{
  flex-wrap: wrap;
}
.card-content{
  margin-bottom: 20px;
}
.title-img{
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: 100% 100% !important;
}

